.example-card {
  max-width: 400px;
  background-color: #E7F3F4;
  border-radius: 12px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 4px 4px 0px 0px #1F838E;
   .card-button{
  margin:auto;
  margin-top: .4rem;
  margin-bottom: .8rem;
  border-radius: 100px;
  height: 3rem;
  padding: .5rem 2.5rem;
  background-color: #1F838E;
   }
}
mat-card-header{
 display: flex;
 align-items: center;
 padding-bottom: 0.5rem;;

 .avatar{
  background-color: #1F838E;
 }
 .card-title-sub{
  margin-left: 1rem;
  mat-card-title{
   color:#1F838E;
  }
 }
}
