mat-tab-group {
  margin-top: 1rem;
  
 }

 .mat-tab-group-custom{
.mat-mdc-tab-body-wrapper{
   background: red;
 }
 }

.mat-mdc-tab-group{
 --mdc-tab-indicator-active-indicator-color: #20828E;
 --mat-tab-header-active-focus-indicator-color:#20828E;
 --mat-tab-header-active-hover-indicator-color:#20828E;
 --mat-tab-header-active-label-text-color: black;
 --mat-tab-header-active-focus-label-text-color: black;
}

